@using Gwenzig.Data.DataModels
@model System.Tuple<Gwenzig.Models.SessionViewModel, Sections>


<div class="service_item row">
    <div class="col-xs-12"></div>
    <div class="" style="text-align:center; margin:200px 0 100px 0px;">


        @*<div style="display:inline-block; background-image:Url(/Content/Images/telephone.png); background-size:contain; background-repeat:no-repeat; height:300px; width:250px;"></div>*@
        <div class="col-sm-12">
            @*<a class="modal-link" href="@Url.Action("Messages_Modal", "Messages")" style="text-decoration: none; color:black">

                <h3>Contact us here &nbsp;&nbsp; <span class="glyphicon glyphicon-envelope"></span></h3>

            </a>*@

        </div>

    </div>
</div>