@using Gwenzig.Data.DataModels
@model System.Tuple<Gwenzig.Models.SessionViewModel, Sections>

@{
    var imageurl = "Content/fallback.jpg";
    if (Model.Item2.ImageName != null && Model.Item2.ImageName != "") { imageurl = "Content/Images/Sections/" + Model.Item2.ImageName; }
}
    <div class="row" style="margin-bottom:100px">

        <div class="col-sm-12 background_image" style="background:url(@imageurl); background-size:cover;
      background-repeat: no-repeat;  background-position: center;">





            <div class="row" style="color:white; background-color:@Model.Item2.BackgroundColor">

                <div class="col-xs-12" style="height:150px;"></div>
                <div class="col-sm-11 col-md-4 col-sm-offset-1">
                    <h2>@Model.Item2.Head</h2>
                    <p>@Model.Item2.Text</p>
                </div>

            </div>
        </div>
    </div>
