@using Gwenzig.Data.DataModels
@model IEnumerable<FeaturedItems>
@{        var column_number = Model.Count() >= 6 ? 2 : Math.Round(Convert.ToDouble(12 / Model.Count()));   }


@if (Model != null)
{
    foreach (var element in Model)
    {
        @*<div class="col-sm-6 col-md-4 col-lg-3" style="overflow:hidden;">*@
        @*<div class="col-xs-@Math.Round(Convert.ToDouble(3/column_number)) col-sm-@Math.Round(Convert.ToDouble(6/column_number)) col-md-@column_number">*@
        
            <div class="col-xs-10 col-xs-push-1 col-sm-push-0 col-sm-@column_number" >
                <a Class="modal-link btn" style="width:100%; border-color:white; color:white; text-align:center; font-weight:bold; white-space:normal" href="@Url.Action("Featured_Modal","Home", new { Name = element.FeaturedName })">
                    <div class="col-sm-12">

                        <p style="color:White">@Html.Raw(element.Description)</p>
                    </div>
                    <div class="Featured_Image col-sm-12">
                        @if (element.ImageName != null && element.ImageName != "")
                    {
                            <img src="/Content/Images/Pictures/@element.ImageName" />
                        }
                        else
                        {
                            <img class="fallback" src="" />
                        }
                    </div>

                    <div class="col-sm-12" style="display:inline-block; vertical-align:bottom;">
                        <h5>@element.FeaturedName</h5>

                    </div>
                </a>
            </div>

    }



}