@using Gwenzig.Data.DataModels
@model IEnumerable<Serviceareas>
@{        var column_number = Model.Count() >= 6 ? 2 : Math.Round(Convert.ToDouble(12 / Model.Count()));   }

<div class="col-12">
    @if (Model != null)
            {
                foreach (var element in Model)
                {

                <div class="col-xs-6 col-sm-@column_number" style="">
                    @{ 
                        string elementLink = element.Link == "" ? "#" : element.Link;
                        }
                    <a target="_blank" href="@elementLink">

                        @if (element.ImageName != null && element.ImageName != "")
                    {
                            <img src="Content/Images/Pictures/@element.ImageName" />
                        }
                        else
                        {
                            <img class="fallback" src="" />
                        }
                        <div class="btn-block" style="vertical-align:bottom">
                            <h4>@element.Head</h4>
                        </div>
                    </a>

                </div>

        }
    }
</div>
