<h2>Blog Console</h2>
<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <h4>Tools</h4>
        <ul>
            <li>
                <a class="btn btn-default" asp-controller="Blog" asp-action="ManageBlogPost">Post Overview</a>
                <a class="btn btn-default" asp-controller="Blog" asp-action="CreateBlogPost">New Blog Post</a>
                <a class="btn btn-default" asp-controller="Blog" asp-action="ManageAlias">Aliases</a>
            </li>
        </ul>
    </div>
</div>