@using Gwenzig.Data.DataModels
@model Messages

<div class="modal-body">
    <div>
        <h4>Thank You @Model.Name</h4>
        <hr />
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <p>We will notify you as soon as possible</p>
            </div>
        </div>

    </div>
</div>
